
/* Social Links */
.social-links{
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
}
.social-links:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
.social-links li{
	display: block;
	float: left;
}
.social-links a{
	text-decoration: none;
	display: block;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}
.social-links a:hover,
.social-links a:focus{
	opacity: 0.8;
}
.social-links a:before{
	content: "\f103"; /* Link icon */
	display: block;
	font-family: "esicons";
	font-size: 24px;
	padding: 8px;
	border-radius: 50%;
	border: 1px solid #334049;
	line-height: 1em;
	color: #fff;
	background: #4A5B67;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
	-webkit-font-smoothing: antialiased;
}

/* Icons */
.social-links a[href*="codepen.io"]:before { content: '\f22d'; }
.social-links a[href*="digg.com"]:before { content: '\f22f'; }
.social-links a[href*="dribbble.com"]:before { content: '\f20c'; }
.social-links a[href*="dropbox.com"]:before { content: '\f23f'; }
.social-links a[href*="facebook.com"]:before { content: '\f23d'; }
.social-links a[href*="flickr.com"]:before { content: '\f21e'; }
.social-links a[href*="foursquare.com"]:before { content: '\f22c'; }
.social-links a[href*="github.com"]:before { content: '\f241'; }
.social-links a[href*="plus.google.com"]:before { content: '\f21c'; }
.social-links a[href*="instagram.com"]:before { content: '\f21a'; }
.social-links a[href*="linkedin.com"]:before { content: '\f23e'; }
.social-links a[href*="pinterest.com"]:before { content: '\f22e'; }
.social-links a[href*="getpocket.com"]:before { content: '\f22a'; }
.social-links a[href*="polldaddy.com"]:before { content: '\f21d'; }
.social-links a[href*="reddit.com"]:before { content: '\f22b'; }
.social-links a[href*="skype.com"]:before { content: '\f23c'; }
.social-links a[href*="skype:"]:before { content: '\f23c'; }
.social-links a[href*="spotify.com"]:before { content: '\f51a'; }
.social-links a[href*="stumbleupon.com"]:before { content: '\f23a'; }
.social-links a[href*="tumblr.com"]:before { content: '\f21b'; }
.social-links a[href*="twitter.com"]:before { content: '\f202'; }
.social-links a[href*="vimeo.com"]:before { content: '\f23b'; }
.social-links a[href*="wordpress.org"]:before,
.social-links a[href*="wordpress.com"]:before { content: '\f20d'; }
.social-links a[href*="youtube.com"]:before { content: '\f243'; }
.social-links a[href*="mailto:"]:before { content: '\f466'; }
.social-links a[href*="tel:"]:before { content: '\f525'; }
.social-links a[href$="/feed/"]:before { content: '\f303'; }
.social-links .mail-icon a:before { content: '\f466'; }
.social-links .phone-icon a:before { content: '\f525'; }
.social-links .feed-icon a:before { content: '\f303'; }
.social-links .user-icon a:before { content: '\f110'; }
.social-links .calendar-icon a:before { content: '\f145'; }
.social-links .website-icon a:before { content: '\f319'; }
.social-links .category-icon a:before { content: '\f318'; }
.social-links .tag-icon a:before { content: '\f323'; }
.social-links .share-icon a:before { content: '\f237'; }
.social-links .home-icon a:before { content: '\f102'; }
