
/* === MENUS === */

/* Primary Menu */
#menu-primary{
	float: right;
}
	#menu-primary .menu-container{
		border: none;
		border-left: 1px solid rgba(100,100,100,0.2);
	}
		#menu-primary li a{
			padding: 27px;
			padding: 2.7rem;
			border-color: rgba(100,100,100,0.2);
			color: #444;
		}
		#menu-primary li.menu-item-open-children a,
		#menu-primary li.menu-item-has-children a{
			padding-right: 35px;
			padding-right: 3.5rem;
		}
		#menu-primary .menu-dropdown ul li.menu-item-open-children > a:before,
		#menu-primary .menu-dropdown ul li.menu-item-has-children > a:before{
			right: 10px;
		}
		#menu-primary li a:hover,
		#menu-primary li a:focus{
			color: #000;
		}
			#menu-primary li li a{
				padding: 16px;
				padding: 1.6rem;
				padding-right: 25px;
				padding-right: 2.5rem;
				color: #fff;
				background: #222;
				border-color: #000;
			}
			#menu-primary li li a:hover,
			#menu-primary li li a:focus{
				color: #fff;
				background: #111;
			}
			#menu-primary .current-menu-item > a,
			#menu-primary .current-menu-ancestor > a{

			}
/* Reverse Drop Down */
#menu-primary .menu-dropdown li:hover > .sub-menu{
	left: auto;
	right: 0;
}
#menu-primary .menu-dropdown .sub-menu li:hover > .sub-menu,
#menu-primary .menu-dropdown .sub-menu li.focus > .sub-menu{
	top: -1px;
	left: 229px;
	left: -22.9rem;
}
#menu-primary .sub-menu{
	text-align: right;
	border-color: #eee;
}
#menu-primary .menu-dropdown .sub-menu li.menu-item-open-children > a:before,
#menu-primary .menu-dropdown .sub-menu li.menu-item-has-children > a:before{
	content: "\f141";
	float: left;
	left: 0;
	right: auto;
}
/* Sub menu on mobile device: Need testing */
.mobile-menu-active .menu-dropdown li:hover > .sub-menu,
.mobile-menu-active .menu-dropdown li.focus > .sub-menu{
	left: auto;
	right: 0;
}
@media screen and (max-width: 900px){

	/* === Menu Toggle === */

	#menu-primary .menu-container{
		border: none;
	}
	.menu-toggle{
		padding: 9px 0;
		padding: 0.9rem 0;
		display: block;
		margin-bottom: 0
	}
	.menu-toggle:after{
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}
	.menu-toggle a:before{
		content: "\f228";
		font-family: 'esicons';
		font-size: 32px;
		font-size: 3.2rem;
		line-height: 1em;
		padding: 8px;
		padding: 0.8rem;
		display: block;
		float: left;
		font-weight: 400;
		vertical-align: top;
		border: 1px solid #e5e5e5;
		color: #444;
		background: rgba( 255,255,255,0.5 );
		-webkit-font-smoothing: antialiased;
	}
		.menu-toggle .menu-toggle-close{
			display: none;
		}
	.menu-toggle-active .menu-toggle a:before{
		content: "\f158";
	}
	.menu-toggle:hover a:before,
	.menu-toggle:hover a:before{
		color: #000;
	}


	/* === Mobile Menu === */

	/* Hide Menu (Default) */
	#menu-primary .menu-dropdown .menu-items{
		display: block;
		right: -450px;
		transition: all 0.4s ease-in-out 0s;
	}
	#menu-primary .menu-toggle-active .menu-items{
		display: block;
		right: 0;
	}

	/* Mene Overlay */
	.menu-toggle-active .menu-overlay{
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		z-index: 100050;
		background: rgba(0,0,0,0.7);
	}
	.body-stop-scroll{
		overflow: hidden;
		height: 100%;
	}

	/* Menu Style */
	#menu-primary .menu-container{
		position: inherit;
	}
	#menu-primary-items{
		width: 450px;
		max-width: 90%;
		height: 100%;
		overflow: auto;
		position: fixed;
		top: 0;
		left: auto;
		right: 0;
		background: #fff;
		z-index: 100100;
		padding: 10px;
	}
	#menu-primary-items:after{
		content:".";display:block;height:0;clear:both;visibility:hidden;
	}
	#menu-primary li{
		width: 100%;
	}
	#menu-primary li a{
		padding: 16px;
		padding: 1.6rem;
		width: 100%;
		display: block;
	}

	/* Text align */
	#menu-primary .sub-menu{
		text-align: left;
	}

	/* Has Children 1st level */
	#menu-primary .menu-dropdown ul li.menu-item-open-children > a:before,
	#menu-primary .menu-dropdown ul li.menu-item-has-children > a:before{
		content: "";
		position: inherit;
		right: auto;
	}
	/* Mobile Menu Style */
	#menu-primary .menu-dropdown li{
		display: block;
		width: 100%;
	}
	#menu-primary .menu-dropdown .sub-menu{
		width: 100%;
		border: none;
	}
	#menu-primary .menu-dropdown li a,
	#menu-primary .menu-dropdown .sub-menu li a{
		width: 100%;
	}
	#menu-primary .menu-dropdown .sub-menu li a{
	}
	#menu-primary .menu-dropdown .sub-menu li:hover > .sub-menu,
	#menu-primary .menu-dropdown .sub-menu li:focus > .sub-menu,
	#menu-primary .menu-dropdown .sub-menu li.focus > .sub-menu,
	#menu-primary .menu-dropdown li:hover > .sub-menu,
	#menu-primary .menu-dropdown li:focus > .sub-menu,
	#menu-primary .menu-dropdown li.focus > .sub-menu,
	#menu-primary .menu-dropdown .sub-menu{
		opacity: 1;
		left: auto;
		right: auto;
		top: auto;
		position: inherit;
	}
	#menu-primary .menu-dropdown .sub-menu .sub-menu,
	#menu-primary .menu-dropdown .sub-menu .sub-menu{
	}
	#menu-primary .menu-dropdown .sub-menu .sub-menu{
	}
	/* .sub-menu */
	.wordpress #menu-primary .menu-dropdown ul li.menu-item-open-children > a:before,
	.wordpress #menu-primary .menu-dropdown ul li.menu-item-has-children > a:before{
		content: "";
	}
	.wordpress #menu-primary .menu-dropdown .sub-menu li a:before,
	.wordpress #menu-primary .menu-dropdown .sub-menu li.menu-item-open-children >  a:before,
	.wordpress #menu-primary .menu-dropdown .sub-menu li.menu-item-has-children > a:before{
		content: "";
	}
	#menu-primary .menu-dropdown .sub-menu li a{
		padding-left: 40px;
		padding-left: 4rem;
	}
	#menu-primary .menu-dropdown .sub-menu .sub-menu li a{
		padding-left: 60px;
		padding-left: 6rem;
	}
	#menu-primary .menu-dropdown .sub-menu .sub-menu .sub-menu li a{
		padding-left: 80px;
		padding-left: 8rem;
	}
	#menu-primary .menu-dropdown .sub-menu .sub-menu .sub-menu .sub-menu li a{
		padding-left: 100px;
		padding-left: 10rem;
	}
	#menu-primary .menu-dropdown .sub-menu .sub-menu .sub-menu .sub-menu .sub-menu li a{
		padding-left: 120px;
		padding-left: 12rem;
	}
	#menu-primary .menu-dropdown li a{
		border: 1px solid #000;
		border-top: 0;
		background: #222;
		color: #fff;
	}
	#menu-primary .menu-dropdown li a:hover,
	#menu-primary .menu-dropdown li a:focus{
		background: #111;
	}
	#menu-primary .menu-dropdown #menu-primary-items > li:first-child > a:first-child{
		border-top: 1px solid #000;
	}
}
